{% extends "cadastros/base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}

<div class="container">
    <form action="" method="POST" id="post-form">

        <div id="div1" style="color: rgb(1, 4, 5);">
            {% csrf_token %}
            {{ forms|crispy }}
   
            <button type="submit"  id="opt">enviar </button>
        </div>           


            <hr size=20 color="black" >
<!-- --------------------------------------------------------------- -->

  <h1>Create Material</h1>
<button type="button" hx-get="{% url 'create-form' %}" hx-target="#bookforms" hx-swap="beforeend">
    Add Material
</button>
<button class="btn btn-primary pull-right" value="Save" onload="" > Register</button>

<!-- <div id="billforms"></div> -->
<div id="bookforms"></div>

</form>
</div>
{% endblock %}



